        /* Animaciones de tarjetas y botones */
        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes hoverScale {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.05);
            }
        }

        .card {
            animation: fadeInUp 0.6s ease-in-out;
            transition: transform 0.3s ease-in-out;
        }

        .card:hover {
            transform: translateY(-10px);
        }

        .hover-card {
            transition: transform 0.3s ease-in-out;
        }

        .hover-card:hover {
            transform: translateY(-10px);
        }

        .hover-scale {
            transition: transform 0.3s ease;
        }

        .hover-scale:hover {
            animation: hoverScale 0.3s ease forwards;
        }

        .card-body {
            padding: 1.5rem;
        }

        .card-img-top {
            object-fit: cover;
            height: 400px;
        }

        .card-title {
            font-size: 1.2rem;
        }

        .btn-outline-dark {
            transition: background-color 0.3s ease;
        }

        .btn-outline-dark:hover {
            background-color: #343a40;
            color: #fff;
        }

        /* Estilo para el catálogo */
        #catalogo {
            background-color: #f7f7f7;
        }

        .container {
            margin-top: 50px;
        }
